
	body{
		color:#FFF;
		}
	#page2information{
		clear:both;
		line-height:2em;
		font-family:"锐字锐线怒放黑简1.0";
		margin:0 70%;
		padding-top:100px;
		font-size:30px;
		width:800px;}
	.icon{
		padding-right:8px;
		margin-bottom:-5px;}
	.section1{
		text-align:center;
		background-color:orange;
		background-image: url(Cg-4WVU4rHmIFYmFABUJqe9a4PIAACH7wMMjKkAFQnB489.jpg);
		background-repeat: no-repeat;
        background-position:center;
		opacity:0.8;
		}
	#face{
		border-radius:300px;
		margin-top:10%;
	}
	#face2{
		border-radius:300px;
		float:left;
		margin-top:10%;
		}
	#page2introduce{
		float:left;
		margin-top:10%;
		margin-left:5%;
		border-left:5px #FFF solid;
		padding-left:100px;
		font-family:"锐字锐线怒放黑简1.0";
		}
	#brief{
		font-family:"锐字锐线怒放黑简1.0";
		font-size:30px}
	.section2{
		background-image:url(b2.jpg);
		}
	.section3{
		background-color:blue;
		}
	.section4{
		background-color:red;
		}
	.slide{
		font-size:60px;
		text-align:center;}
	#menu{
		position:fixed;
		top:40%;
		right:1%;
		font-size:30px;
		}
	ul{
		list-style-type: none;
		}
	a:link {
    	color:#999;
    	text-decoration:none;
    	}
	a:visited {
    color:#999;
    text-decoration:none;
    }
	a:hover {
    color:#000000;
    text-decoration:none;
    }
    a:active {
    color:#FFFFFF;
    text-decoration:none;
    }	

